<!DOCTYPE html>
<html>
    <head>
        <title>Muistilista</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/todo.css">
    </head>
    <body ng-app="TodoApp">
        <div ng-controller="TodoController">
            <h1>Muistilista</h1>
            <div id="todo-container">
                <div id="add-todo-container">
                  <input ng-model="uusiTeht" type="text" placeholder="Uusi tehtävä" ng-init="uusiTeht=''">
                  <button ng-click="lisaa()" ng-disabled="uusiTeht===''" >Lisää tehtävä</button>
                  <button ng-click="kaikkiTehty()" id="mark-todos-done">Merkkaa kaikki tehdyiksi</button>
                  <button ng-click="poistaKaikki()" id="remove-todos">Poista kaikki</button>
                </div>

                <div class="todo" ng-repeat="tehtava in tehtavat">
                    <input type="text" value="0" ng-model="tehtava.prioriteetti" ng-blur="jarjesta()" class="todo-priority">
                    <label>
                        <input type="checkbox" ng-model="tehtava.tehty"><span ng-class="{'todo-done': tehtava.tehty}">{{tehtava.tehtavanNimi}}</span>
                    </label>
                    <button ng-click="poista(tehtava)" class="remove-todo">Poista</button>              
                </div>
 <!--               
                <div class="todo">
                  <input type="text" value="1" class="todo-priority">
                  <label>
                    <input type="checkbox" checked> <span class="todo-done">Kirjoita Angular-materiaalia</span>
                  </label>
                  <button class="remove-todo">Poista</button>
                </div>

                <div class="todo">
                  <input type="text" value="2" class="todo-priority">
                  <label>
                    <input type="checkbox"> <span>Ruoki koira</span>
                  </label>
                  <button class="remove-todo">Poista</button>
                </div>

                <div class="todo">
                  <input type="text" value="3" class="todo-priority">
                  <label>
                    <input type="checkbox"> <span>Käy kaupassa</span>
                  </label>
                  <button class="remove-todo">Poista</button>
                </div>
-->
                <div id="todo-footer">
                    <div ng-pluralize count="todosDone"
                                  when="{'0': 'Ei tehtäviä tehty.',
                                  'one': '1 tehtävä tehty.',
                        'other': '{} tehtävää tehty.'}">
                    </div>                         
                    <div ng-pluralize count="todosRemain"
                                  when="{'0': 'Ei tehtäviä jäljellä.',
                                  'one': '1 tehtävä tekemättä.',
                        'other': '{} tehtävää jäljellä.'}">
                    </div>               
      <!--            1 tehtävä tehty, 2 tehtävää jäljellä -->
                </div>
            </div>
        </div>
        
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/todo_controller.js"></script>
    </body>
</html>
