<!DOCTYPE html>

<html>
    <head>
        <title>Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/chat.css">
    </head>
    <body ng-app="ChatApp">
        <div ng-controller="ChatController">
            <h1>Chat</h1>

            <div id="username-container" ng-show="true">
                <h2>Valitse itsellesi käyttäjätunnus</h2>
                <input ng-model="newUser" type="text">
                <button ng-click="addUser()">Valitse</button>
            </div>

            <div id="chat-container" ng-show="activeUser.length>0">
                <div id="chat-messages-container">
                    <ul>
                        <li ng-repeat="message in messages">
                            <strong>{{message.user}}:</strong> {{message.text}}
                            <p>
                                Lisätty: {{message.added}}
                            </p>
                        </li>                        
                    </ul>
                </div>
                <div id="chat-users-container">
                    <ul>
                        <li ng-repeat="user in users">{{user.user}}</li>
                    </ul>
                </div>
            </div>
            
            <div id="add-message-container" ng-show="activeUser.length>0">
                <textarea ng-model="newText">
                </textarea>
                <button ng-click="addMessage()">Lähetä</button>
            </div>
        </div>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/services/firebase_service.js"></script>
        <script src="app/controllers/chat_controller.js"></script>
    </body>
</html>
